<p>{{userForm.valid | json}}</p>

<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="form-group">
    <label for="">Tên user</label>
    <input
      type="text"
      class="form-control"
      name="name" ngModel
      required minlength="100"
      #name="ngModel"
    >
    <app-show-validate [field]="name" key="Tên"></app-show-validate>
  </div>
  <div class="form-group">
    <label for="">Tuổi user</label>
    <input
      type="number"
      class="form-control"
      name="age" ngModel
      required min="10" max="1000"
      #age="ngModel"
    >
    <app-show-validate [field]="age" key="Tuổi"></app-show-validate>
  </div>
  <div class="form-group">
    <label for="">Email user</label>
    <input
      type="email"
      class="form-control"
      name="email" ngModel
      required email
      #email="ngModel"
    >
    <app-show-validate [field]="email" key="Email"></app-show-validate>
  </div>
  <div>
    <button
      class="btn btn-success"
      [disabled]="!userForm.valid"
    >Submit</button>
  </div>
</form>
