<div class="container">
  <h1 (click)="clickH1()" >DS Giảng viên {{schoolName}}</h1>
  <div>
    <form action="">
      <input type="text" (keydown)="changeInput($event)" [value]="inputValue">
      {{inputValue}}
    </form>
  </div>
  <!--
    Cách 1: sử dụng ngIf
    Cách 2: sử dụng class
   -->
  <div>
    <button
      class="btn btn-info"
      (click)="changeTableStatus()"
    >{{showStatus ? 'Ẩn' : 'Hiện'}} bảng teacher</button>
      <app-table [users]="teachers"
      *ngIf="showStatus"
      class="{{showStatus ? 'display-block' : 'display-none'}}"
      ></app-table>
  </div>

  <div>
    <!--
      B1: gọi component con <app-name></app-name>
      B2: định nghĩa việc truyền và nhận dữ liệu tĩnh <app-name name="1234"></app-name>
      B3: truyền dữ liệu động <app-name [name]="studentName"></app-name>
     -->
    Tên sv: <app-name [name]="studentName"></app-name>
    MSV: <app-identity [id]="studentId"></app-identity>
  </div>
</div>
