<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular WEB207.01 - {{title}}</title>
</head>

<body>
  <h1>Angular WEB207.01</h1>
  <button class="btn btn-primary">ABC</button>
  <div>Title: {{title}}</div>
  <div>Content: {{content}}</div>
  <!-- <div>Content: {{content1}}</div> Không run được khi lỗi-->

  <h2>Thông tin sinh viên</h2>
  <div>Tên: {{student.name}}</div>
  <div>MSV: {{student.id}}</div>
  <div>SĐT: {{student.phone}}</div>

  <h2>Danh sách user</h2>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên</th>
        </tr>
      </thead>
      <tbody>
        <!-- users.map(function (item) {
          tr
        })
        for(i= 0; i < users.length; i++) {
          tr td users[i]
        } -->
        <tr *ngFor="let item of users">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td *ngIf="item.status === 1">Kích hoạt</td>
          <td *ngIf="item.status === 0">Huỷ</td>
          <td>{{item.status ? 'Kích hoạt' : 'Huỷ'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- đưa thẻ có tên là selector của component cần dùng -->
  <app-user-info></app-user-info>

</body>

</html>
