<div>
  <a routerLink="/admin/products">
    <button class="btn btn-primary">Quay lại</button>
  </a>
</div>

<!-- Định nghĩa xem form được quản lý bởi biến nào -->
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Product Name</label>
    <!-- Định nghĩa input sẽ được quản lý bởi key nào bằng formControlName -->
    <input type="text" class="form-control" formControlName="name">
    <!-- <input type="text" class="form-control" formControlName="price"> -->
    <!-- <span *ngIf="
      (productForm.get('name')?.dirty || productForm.get('name')?.touched)
        && productForm.get('name')?.errors?.['required']
    ">
      Tên SP bắt buộc nhập
    </span> -->
    <app-show-validate
      [field]="productForm.get('name')"
      key="Tên sản phẩm"
    ></app-show-validate>
  </div>
  <div>
    <button
      class="btn btn-success"
      [disabled]="!productForm.valid"
    >Submit</button>
  </div>
</form>
